.descripcion-informacion {
    display: flex;
    align-items: baseline;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

/*.descripcion-informacion{display: flex;align-items: center;}*/
.descripcion-informacion a{
    color:white;
    text-decoration: none;
    margin-left: 10px;
}
.descripcion-informacion i{padding: 10px;}

.sectiontitle{display:block; max-width:55%; margin:0 auto 80px; text-align:center;}
.sectiontitle *{margin:0;}
#introblocks .sectiontitle{max-width:80%;}
#introblocks > ul > li:last-child{margin-bottom:0;}

.sectiontitle{max-width:none;}
